/* ----- BUTTONS FOR ALL PAGES START ----- */
#my-buttons{
    position: fixed;
    right: 0%;
    top: 50%;
    font-size: 30px;
    z-index: 1;
}
.my-button{
    opacity: 0.2;
    background-color: red;
    color: white;
    display: inline-block;
    padding: 15px 20px 10px 20px;
    box-shadow: 3px 3px 3px black, -3px -3px 3px white;
    border-radius: 10px;
}
.my-button > img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
}
.my-button:hover{
    box-shadow: inset 3px 3px 3px black, inset -3px -3px 3px white;
    opacity: 1;
}
/* ----- BUTTONS FOR ALL PAGES END ----- */

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
#my-container{
    background-color: lightblue;
    /* background-color: antiquewhite; */

    width: 100%;
    margin: auto;
    padding: 10px;
}
#my-head{
    /* background-color: aquamarine; */
    font-size: 4rem;
    padding: 30px 10px;
    text-align: center;
}
#my-head > h1{
    border-bottom: 10px solid rgb(135, 194, 214);
    color: lightblue;
    text-shadow: 2px 2px 5px black, -2px -2px 5px white;
    box-shadow: 0px 2px 2px 0px black;
    padding-bottom: 5px;
    border-radius: 20px;
}
#my-content{
    /* background-color: blue; */

    display: grid;
    grid-template-rows: min-content min-content min-content;
    place-content: left;
    grid-auto-rows: min-content;
}
.my-month{
    margin-top: 10px;
    background-color: lightpink;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 3rem;
}
.my-month > h2, .my-year{
    color: lightpink;
    text-shadow: 2px 2px 2px black, -2px -2px 2px white;

}
.my-year{
    /* background-color: chartreuse; */
    padding: 0px 30px;
    font-size: 2.5rem;
    border-bottom: 5px solid rgba(240, 128, 128, 0.7);
}
.my-project-list{
    /* background-color: beige; */
    display: grid;
    grid-template-rows: min-content;
    padding: 0px 20px;
}
.my-project{
    background-color: lightseagreen;
    padding: 0px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.my-project-name{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
    display: block;
    width: 200px;
    font-size: 2rem;
    padding: 10px 10px;
    color: white;
    background-color: blue;
    box-shadow: 3px 3px 0px black, -3px -3px 0px white;
}
.my-project-name:hover{
    color: darkblue;
    background-color: white;
    box-shadow: 3px 3px 0px white, -3px -3px 0px black;
}
.my-project-description{
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px 30px;
    font-size: 1.5rem;
    /* background-color: violet; */
    border-bottom: 5px solid rgb(18, 109, 104);
}