:root{
	--color-1: yellow;
	--color-2: green;
	--color-3: pink;
	--color-4: orange;
	--color-5: blue;
}

body{
	background: gray;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	background: red;
	height: 100vh;
	width: 100%;
	
	display: flex;
}
.btn{
	width: 20%;
	height: 100px;
	position: absolute;
	background: white;
	
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
}
.home-btn{
	background: var(--color-1);
}
.about-btn{
	background: var(--color-2);
	left: 20%;
}
.services-btn{
	background: var(--color-3);
	left: 40%;
}
.team-btn{
	background: var(--color-4);
	left: 60%;
}
.contact-btn{
	background: var(--color-5);
	left: 80%;
}
.btn:hover + .nav{
	width: 2000%;
}
h2{
	text-align: center;
	line-height: 100px;
}
.nav{
	margin-top: 100px;
	width: 100%;
	display: block;
	transition: all 1s linear;
	text-align: center;
	
	overflow: hidden;
}
.width{
	height: 100%;
	background: white;
}
h1{
	text-align: center;
}
.home{
	background: var(--color-1);
}
.about{
	background: var(--color-2);
}
.services{
	background: var(--color-3);
}
.team{
	background: var(--color-4);
}
.contact{
	background: var(--color-5);
}



.nav img{
	width: 50px;
	transition: all 0.5s linear; 
}
.btn:hover  + .nav > img{
	width: 600px;
}