@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root{
    --font-1: 'Cormorant Garamond', serif;

    --bubble-bg-color: rgb(38, 164, 248);
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    /* font-family: var(--font-1); */
}
/* ----------------- MAIN-AND-COMMON-START ----------------- */

/* ----------------- MAIN-AND-COMMON-END ----------------- */




/* ----------------- HEADER-START ----------------- */
.btn{
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    z-index: 1;
    background-color: lightgreen;
    color: darkgreen;
    padding: 10px 30px;
}
.btn:hover{
    color: white;
    filter: grayscale(100%);
}
#btn:checked ~ .btn{
    color: red;
    background-color: rgb(255, 146, 146);
}
#btn:checked ~ #animation > .mr-jelly{
    animation-play-state: paused;
}
input{
    display: none;
}
/* ----------------- HEADER-END ----------------- */




/* ----------------- Animation-START ----------------- */
#animation{
    display: block;
    background: linear-gradient(rgb(53, 174, 255), white 50%);
}
.bubble{
    /* background: var(--bubble-bg-color); */
    background-color: white;
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 20%;

    animation-name: bubble;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
}
.bubble::before{
    content: "";
    display: block;

    position: relative;
    left: 20%;
    top: 10%;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.16);
}
@keyframes bubble {
    from{
        bottom: 60%;
        width: 1%;
        background: white;
    }
    to{
        bottom: 120%;
        width: 10%;
        background-color: var(--bubble-bg-color);
    }
}
.bubble-1{
    left: 2%;
    animation-delay: 0.1s;
}
.bubble-2{
    animation-delay: 2.2s;
    animation-duration: 6s;
    left: 8%;
    z-index: -1;
}
.bubble-3{
    animation-delay: 0.3s;
    left: 9%;
    z-index: -1;
}
.bubble-4{
    animation-delay: 2.4s;
    animation-duration: 7s;
    left: 12%;
    z-index: -1;
}
.bubble-5{
    animation-delay: 0.5s;
    z-index: -1;
    left: 23%;
}
.bubble-6{
    animation-delay: 2.6s;
    z-index: -1;
    animation-duration: 5s;
    left: 49%;
}
.bubble-7{
    animation-delay: 0.7s;
    animation-duration: 5s;
    left: 27%;
    z-index: -1;
}
.bubble-8{
    animation-delay: 0.8s;
    animation-duration: 3s;
    left: 67%;
}
.bubble-9{
    animation-delay: 0.9s;
    animation-duration: 3s;
    left: 91%;
}
.bubble-10{
    animation-delay: 2.0s;
    animation-duration: 3s;
    left: 80%;
}
.bubble-11{
    animation-delay: 1.1s;
    left: 77%;
}
.bubble-12{
    animation-delay: 1.2s;
    left: 54%;
}
.bubble-13{
    animation-delay: 2.3s;
    left: 42%;
    z-index: -1;
}
.bubble-14{
    z-index: -1;
    animation-delay: 1.4s;
    left: 35%;
}
.bubble-15{
    left: 88%;
}

/* mr-jelly */
.mr-jelly{
    position: relative;
    top: 30px;
    width: 30%;
    aspect-ratio: 1;

    animation-name: mr-jelly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* animation-play-state: paused;  */
}
@keyframes mr-jelly {
    from{
        margin-left: 10%;
    }
    to{
        margin-left: 60%;
    }
}
.mr-jelly div{
    position: relative;
}
.cap{
    width: 40%;
    margin: auto;
    height: 8%;
    background-color: orange;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}
.head{
    background: linear-gradient(rgb(126, 170, 197), rgb(164, 203, 88), rgb(255, 255, 136));
    height: 75%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

.eyes{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    color: white;
    height: 5%;
    top: 15%;
}
.eye{
    background-color: white;
    width: 4%;
    height: 4%;
    border-radius: 50%;

    animation-name: eye-blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes eye-blink {
    from{
        aspect-ratio: 1;
        height: 4%;
    }
    to{
        height: 100%;
        aspect-ratio: 2;
    }
}
.mouth{
    width: 80%;
    aspect-ratio: 3;
    background-color: rgb(255, 146, 146);
    border-radius: 30px;
    display: flex;
    top: 25%;
    margin: auto;
}
.lips{
    width: 70%;
    border-top: 1px solid red;
    margin: auto;
}
.hand{
    width: 10%;
    aspect-ratio: 0.5;
    border-bottom: 5px solid green;
    border-left: 5px solid green;
    border-radius: 30%;
    border-top-right-radius: 0%;
    top: 25%;
    left: 90%;
}
.hand-2{
    width: 10%;
    aspect-ratio: 0.5;
    border-left: 0px;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    border-radius: 30%;
    top: 0%;
    left: 0%;
}
.tickles{
    display: flex;
    height: 30%;
    /* top: 10%; */
}
.tickle{
    width: 100%;
    height: 200%;
    background-color: rgb(255, 255, 136);

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.tickle-1{
    animation-name: tickle-1;
    animation-timing-function: linear;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tickle-1 {
    from{
        height: 200%;
    }
    to{
        height: 150%;
    }
}
.tickle-2{
    animation-name: tickle-2;
    animation-timing-function: linear;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tickle-2 {
    from{
        height: 190%;
    }
    to{
        height: 140%;
    }
}
.tickle-3{
    animation-name: tickle-3;
    animation-timing-function: linear;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tickle-3 {
    from{
        height: 200%;
    }
    to{
        height: 180%;
    }
}
.tickle-4{
    animation-name: tickle-4;
    animation-timing-function: linear;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tickle-4 {
    from{
        height: 200%;
    }
    to{
        height: 170%;
    }
}
.tickle-5{
    animation-name: tickle-5;
    animation-timing-function: linear;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tickle-5 {
    from{
        height: 200%;
    }
    to{
        height: 125%;
    }
}
/* ----------------- Animation-END ----------------- */




/* ----------------- FOOTER-START ----------------- */
/* ----------------- FOOTER-END ----------------- */



