@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root{
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F7F7F7;
    --text-color-1: #000000;
    --text-color-2: #E7290D;
    --text-color-3: #ffffff;
    --font-1: 'Cormorant Garamond', serif;
    --font-2: sans-serif;
    --font-size-1: 63px; 
    --font-size-2: 32px; 
    --font-size-3: 18px; 
    --font-size-4: 16px; 
;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: var(--font-1);
}
.heading{
    font-size: 16px;
    color: var(--text-color-2);
    font-family: var(--font-2);
    text-transform: uppercase;
    /* background-color: blue; */
    grid-column: 1 / 4;
}
.sub-heading{
    font-size: var(--font-size-2);
}
.para{
    font-size: var(--font-size-4);
}
/* ----------------- MAIN-AND-COMMON-START ----------------- */
#container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 900px 400px 800px 600px 600px 550px 600px 250px;
    grid-template-areas: ".             header              ."
                         ".             section-1           ."
                         ".             section-2           ."
                         ".             section-3           ."
                         ".             section-4           ."
                         ".             section-5           ."
                         ".             section-6           ."
                         ".             section-7           ."
                         ".             footer              .";
}

/* ----------------- MAIN-AND-COMMON-END ----------------- */




/* ----------------- HEADER-START ----------------- */
#header{
    grid-area: header;
    /* background-color: #E7290D; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    align-items: center;
}
.head-1{
    /* background-color: #F7F7F7; */
    font-size: var(--font-size-2);
}
.nav{
    /* background-color: aqua; */
    text-align: right;
}
.nav a{
    display: inline-block;
    margin-left: 60px;
    font-size: var(--font-size-3);
    color: var(--text-color-1);
    font-family: var(--font-1);
}
.nav > a:hover{
    text-decoration: underline;
}
/* ----------------- HEADER-END ----------------- */




/* ----------------- SECTION-1-START ----------------- */
#section-1{
    grid-area: section-1;

    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 20px;
}
.profile-pic{
    /* background-color: pink; */
    padding: 10px;
}
.intro{
    /* background-color: green; */
    padding: 10px;
}
.head{
    font-size: var(--font-size-1);
    margin-top: 110px;
}
.h-para{
    font-size: var(--font-size-3);
    padding-right: 90px;
    margin-top: 110px;
}
.btn{
    color: var(--text-color-1);
    display: inline-block;
    font-size: var(--font-size-4);
    padding: 14px 32px;
    border: 1px solid black;
    margin-top: 70px;
}
/* ----------------- SECTION-1-END ----------------- */




/* ----------------- SECTION-2-START ----------------- */
#section-2{
    grid-area: section-2;
    /* background-color: #E7290D; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    align-items: center;

    padding: 20px 80px;
}
.heading-1{
    margin-top: 100px;
}
.sub-heading-1{
    margin-bottom: 40px;
}
/* ----------------- SECTION-2-END ----------------- */




/* ----------------- SECTION-3-START ----------------- */
#section-3{
    grid-area: section-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box-2{
    /* background-color: yellow; */
    padding: 50px;
    padding-left: 80px;
}
.sub-heading-2{
    margin-top: 50px;
}
.para-2{
    margin-top: 30px;
}
.pic-1{
    /* background-color: chartreuse; */
    justify-self: right;
    padding: 50px 0px 50px 200px;
}
.pic-1 img{
    width: 100%;
    height: 100%;
}
/* ----------------- SECTION-3-END ----------------- */




/* ----------------- SECTION-4-START ----------------- */
#section-4{
    grid-area: section-4;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 80px;
}
.heading-3{
    margin-top: 30px;
}
.sub-heading-3{
    margin-top: 50px;
}
.para-3{
    margin-top: 40px;
}

/* ----------------- SECTION-4-END ----------------- */




/* ----------------- SECTION-5-START ----------------- */
#section-5{
    grid-area: section-5;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* background-color: aqua; */
    padding: 60px 80px;
}
.heading-4{
    margin-top: 30px;
}
.box-4 a{
    font-size: var(--font-size-2);
    text-decoration: underline;
    color: var(--text-color-1);
}
/* ----------------- SECTION-5-END ----------------- */




/* ----------------- SECTION-6-START ----------------- */
#section-6{
    grid-area: section-6;
    /* background-color: #E7290D; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;

    padding: 50px 80px;
}
.heading-5{
    align-self: center;
}
.para-4{
    margin-top: 30px;
    width: 75%;
}

/* ----------------- SECTION-6-END ----------------- */




/* ----------------- SECTION-7-START ----------------- */
#section-7{
    grid-area: section-7;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* justify-items: center; */
    padding: 50px 80px;
}
.head-3{
    margin-top: 0px;
}
.form{
    padding-top: 20px;
}
.form label{
    font-size: var(--font-size-4);
    font-family: var(--font-2);
    margin-top: 25px;
    display: inline-block;
    
}
.form input, .msg{
    background-color: var(--bg-color-2);
    width: 100%;
    height: 40px;
    font-family: var(--font-2);
    padding: 10px 20px;
    font-size: var(--font-size-4);
    margin-top: 5px;
}
.msg{
    resize: none;
    height: 100px;
}
/* ----------------- SECTION-7-END ----------------- */




/* ----------------- FOOTER-START ----------------- */
#footer{
    grid-area: footer;
    background-color: #E7290D;
    padding: 80px 80px;
    color: var(--text-color-3);
    font-size: var(--font-size-4);
}
.social{
    margin-top: 50px;
}
/* ----------------- FOOTER-END ----------------- */



