@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');

:root{
    --bg-color-1: #f5fbff;
    --bg-color-2: #FFFFFF;
    --bg-color-3: #101126;
    --btn-hover-color: #303260;
    --font-size-1: 80px; 
    --font-size-2: 48px; 
    --font-size-3: 40px; 
    --font-size-4: 32px; 
    --font-size-5: 16px; 
    --font-size-6: 14px;
    --font-1: 'Fira Sans', sans-serif;
    --font-2: 'Montserrat', sans-serif;
    --text-color-1: #101126;
    --text-color-2: #FFFFFF;
}

*{
    font-family: var(--font-1);
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

/* -------------------------------------------------- HOME-START -------------------------------------------------- */

/* ----------------- MAIN-AND-COMMON-START ----------------- */
section:nth-child(even){
    background-color: var(--bg-color-1);
}
section:nth-child(odd){
    background-color: var(--bg-color-2);
}
.container{
    /* background-color: aqua; */
    margin: auto;
    width: 1224px;
}
.sub-head{
    font-size: var(--font-size-3);
}
.btn{
    padding: 14px 32px;
    color: var(--text-color-2);
    background-color: var(--bg-color-3);
    border-radius: 24px;
    font-family: var(--font-2);
    font-size: var(--font-size-6);
    margin: auto;
}
.btn:hover{
    background-color: var(--btn-hover-color);
}
.small-head{
    font-size: var(--font-size-5);
    text-transform: uppercase;
}
.para{
    font-family: var(--font-2);
    line-height: 25px;
}
/* ----------------- MAIN-AND-COMMON-END ----------------- */




/* ----------------- HEADER-START ----------------- */
#header{
    /* min-height: 1300px; */
    width: 100%;
    background-color: var(--bg-color-1);
    /* border: 1px solid red; */
}
.nav{
    padding: 24px 16px;
    text-align: center;

}
.nav a{
    margin-left: 65px;
    display: inline-block;
    text-align: center;
    color: var(--text-color-1);
    font-family: var(--font-2);
    font-size: var(--font-size-6);
    border-bottom: 1px solid var(--bg-color-1);   
}
.nav a:hover , a.active{
    border-bottom: 1px solid var(--text-color-1);   
}
#profile{
    /* background-color: aquamarine; */
    text-align: center;
    margin-top: 80px;

    display: grid;
    grid-template-rows: min-content;
    gap: 50px;
    grid-auto-flow: row;
    align-content: space-around;
}
.small-head-1{
    margin-bottom: -20px;

}
.name-1{
    font-size: var(--font-size-1);
    font-weight: 700;
}
#profile img{
    width: 600px;
    height: 624px;
    margin: auto;
}
.btn-1{
    margin-bottom: 80px;
}
/* ----------------- HEADER-END ----------------- */




/* ----------------- SECTION-1-START ----------------- */
#section-1{
    min-height: 976px;
    width: 100%;
}
#section-1 .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "main-box           box-1"
                            "main-box           box-2"
                            ".                  box-3";
    gap: 100px;
    padding: 160px 0px;
}
.main-box{
    grid-area: main-box;
    /* padding-right: 105px; */
    width: 85%;
}
.box1{
    width: 50%;
    /* padding-right: 230px; */
    margin-left: 50px;
}
.box1 .para{
    margin-top: 10px;
}
.box1-1{
    grid-area: box-1;
}
.box1-2{
    grid-area: box-2;
}
.box1-3{
    grid-area: box-3;
}
/* ----------------- SECTION-1-END ----------------- */




/* ----------------- SECTION-2-START ----------------- */
#section-2{
    min-height: 528px;
    width: 100%;
}
#section-2 .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "small-head             small-head"
                            "sub-head               sub-head"
                            "box2-1                  box2-2";
}
#section-2 .container .small-head{
    grid-area: small-head;
    margin-top: 150px;
}
#section-2 .container .sub-head{
    grid-area: sub-head;
    font-size: var(--font-size-2);
    margin-top: 20px;
}
#section-2 .container .box2-1{
    grid-area: box2-1;
    width: 80%;
    margin-top: -50px;
}
#section-2 .container .box2-2{
    width: 80%;
    margin-top: -50px;
    grid-area: box2-2;
    margin-left: 80px;
}
.writer{
    margin-top: 25px;
}
/* ----------------- SECTION-2-END ----------------- */




/* ----------------- SECTION-3-START ----------------- */
#section-3{
    min-height: 464px;
    background-color: var(--bg-color-3);
    width: 100%;
    text-align: center;


}
#section-3 .container{
    display: grid;
    justify-content: center;
    color: var(--text-color-2);
    padding: 100px;
}
#section-3 .container .sub-head{
    margin: auto;
    margin-top: 20px;
}
.btn-2{
    border: 1px solid var(--text-color-2);
    margin-top: 40px;
    display: inline-block;
}
/* ----------------- SECTION-3-END ----------------- */





/* ----------------- FOOTER-START ----------------- */
#footer{
    min-height: 272px;
    width: 100%;
    background-color: var(--bg-color-1);
}
#footer .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 90px 0px;
}
.name-2{
    font-size: var(--font-size-4);
    margin-bottom: 20px;
}
.right{
    justify-self: right;
    align-self: center;
    margin-right: 75px;
}
.right i{
    font-size: var(--font-size-5);
    color: var(--text-color-1);
}
/* ----------------- FOOTER-END ----------------- */

/* -------------------------------------------------- HOME-END -------------------------------------------------- */
















/* -------------------------------------------------- ABOUT-START -------------------------------------------------- */
#about{
    text-align: center;
    width: 65%;
    margin: auto;
    padding: 100px 0px;
}
#about .sub-head{
    margin-top: 20px;
    font-size: var(--font-size-2);
}
#about .sub-head-2-1{
    margin-top: 20px;
    font-size: var(--font-size-3);
}
#about .sub-head-2-2{
    margin-top: 100px;
}
#about .para{
    width: 75%;
    margin: auto;
    margin-top: 20px;
}
#about img{
    margin: 50px 0px;
}
/* -------------------------------------------------- ABOUT-END -------------------------------------------------- */
















/* -------------------------------------------------- PRICING-START -------------------------------------------------- */
#pricing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 125px 0px;
}
#pricing .sub-head{
    grid-column: 1 / 4;
    font-size: var(--font-size-2);
}.box-3{
    margin-top: 100px;
    width: 95%;
}
.price{
    font-style: italic;
    margin-top: 20px;
    font-family: var(--font-2);
}
#pricing .para{
    margin-top: 40px;
}
/* -------------------------------------------------- PRICING-END -------------------------------------------------- */
















/* -------------------------------------------------- CONTACT-START -------------------------------------------------- */
#contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 100px 0px;
}
#contact .sub-head{
    font-size: var(--font-size-2);
    margin-top: 20px;
}
#contact .para{
    width: 65%;
    margin-top: 30px;
}
#contact img{
    justify-self: right;
}
#form{
    padding: 50px 0px;
}
#contact input, .msg{
    margin-top: 4px;
    background-color: #f1f1f1;
    width: 110%;
    padding: 15px 20px;
    font-size: var(--font-size-6);
    font-family: var(--font-2);
    border-radius: 2px;
}
#contact .btn{
    display: inline-block;
    margin-top: 30px;
}
/* -------------------------------------------------- CONTACT-END -------------------------------------------------- */