*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
	box-sizing: border-box;
}
/* ----------------- MAIN-AND-COMMON-START ----------------- */

/* ----------------- MAIN-AND-COMMON-END ----------------- */




/* ----------------- HEADER-START ----------------- */
.share{
	color: white;
	font-size: 80px;
	background: red;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	border-radius: 50%;
	
	transition: all 1s ease-in-out;
	
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 300px;
}
.share:hover > i:nth-child(1){
	display: none;
	/*top: -80px;
	right: 25px;*/
}
.share:hover > i:nth-child(2){
	/*bottom: 20px;
	right: 30px;*/
	display: inline;
}
.share i{
	position: absolute;
	transition: display 1s ease-in-out;
}
.share i:nth-child(1){
	top: 20px;
	right: 25px;
}
.share i:nth-child(2){
	
	top: 20px;
	right: 35px;
	/*bottom: -70px;
	right: 30px;*/
	display: none;
}
/* ----------------- HEADER-END ----------------- */




/* ----------------- SECTION-1-START ----------------- */
/* ----------------- SECTION-1-END ----------------- */




/* ----------------- SECTION-2-START ----------------- */
/* ----------------- SECTION-2-END ----------------- */




/* ----------------- SECTION-3-START ----------------- */
/* ----------------- SECTION-3-END ----------------- */




/* ----------------- SECTION-4-START ----------------- */
/* ----------------- SECTION-4-END ----------------- */




/* ----------------- SECTION-5-START ----------------- */
/* ----------------- SECTION-5-END ----------------- */




/* ----------------- SECTION-6-START ----------------- */
/* ----------------- SECTION-6-END ----------------- */




/* ----------------- SECTION-7-START ----------------- */
/* ----------------- SECTION-7-END ----------------- */




/* ----------------- FOOTER-START ----------------- */
/* ----------------- FOOTER-END ----------------- */



