*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}
/* ----------------- MAIN-AND-COMMON-START ----------------- */

/* ----------------- MAIN-AND-COMMON-END ----------------- */




/* ----------------- BOX-START ----------------- */

/* ----------------- BOX-END ----------------- */